/********General Styles - Start*********/

.sapMTitle,
.sapMLabel,
.sapMText,
.sapMSelectListItemBase,
.sapMSlt>.sapMSltLabel,
.sapMListTbl .sapMText,
.sapMListTbl .sapMLabel,
.sapMBtnContent,
.sapMInputBaseInner,
.sapMSLITitle,
.sapMSLITitleOnly {
    font-family: 'Karbon' !important;
}

.sapMBtnContent {
    font-size: 1rem;
    letter-spacing: 2px;
    line-height: 2.2rem;
}

.sapMBtnInner {
    height: 2.25rem;
    border-radius: 0.875rem;
    border: none;
}

.aljPageStyle {
    background: #fff;
}

.aljPageStyle .sapMIBar.sapMHeader-CTX {
    background-color: #f00;
    height: 4rem;
}

.aljPageStyle.sapMPage>.sapMPageHeader+section {
    top: 4rem;
}

.aljPageStyle.sapMPageWithFooter>section {
    bottom: 4.75rem;
}

.aljPageStyle .sapMIBar-CTX .sapMLabel {
    color: #fff;
    font-size: 1.25rem;
    font-weight: bold;
    letter-spacing: 2.5px;
}

.aljPageStyle .sapMPageSubHeader .sapMITBContainerContent {
    height: 0;
}

.aljPageStyle.sapMPage>.sapMPageHeader+.sapMPageSubHeader+section {
    top: 6.5rem;
}

.aljPageStyle .sapMPageSubHeader .sapMITBSelected .sapMITBContentArrow::after {
    background: #e62f2d;
}

.aljPageStyle .sapMPageSubHeader .sapMITBTextOnly .sapMITBFilterDefault.sapMITBSelected .sapMITBText {
    color: #e62f2d;
}

.aljPageStyle .sapMPageSubHeader .sapMITBTextOnly .sapMITBFilterDefault .sapMITBText {
    color: #535354;
    font-weight: bold;
    font-size: 0.9rem;
    letter-spacing: 2px;
}

.aljPageStyle .sapMPageSubHeader .sapMITBTextOnly .sapMITBFilter {
    padding: 0 2rem;
}

/********General Styles - End*********/


/********Footer Styles - Start*********/

.aljFooterBarStyle {
    height: 6.25rem;
    justify-content: space-around;
    padding-top: 1.5rem !important;
}

.aljFooterBarStyle .sapMText {
    margin-top: 0.35rem;
}

.aljFooterBarStyle.sapMIBar.sapMTB .sapMBarChild {
    margin: 0;
}

.aljFooterBarStyle.sapMTB-Transparent-CTX.sapMTB {
    padding: 0;
}

.aljFooterBarStyle .sapMLIBActive {
    background: transparent;
}

.aljFooterBarStyle .sapMLIB {
    border: none;
    width: calc(100% / 5);
}

.aljFooterBarStyle .sapMLIBContent {
    -webkit-box-orient: vertical;
    -webkit-flex-direction: column;
    flex-direction: column;
    display: flex;
    box-sizing: border-box;
    align-items: center;
}

.aljProductsStyle {
    padding: 0.85rem;
    margin-top: -1rem;
    border-radius: 50%;
    box-shadow: 0px -2px 16px #989898;
    z-index: 3;
    background: #fff;
    height: 2rem;
}

.aljFooterSelectedStyle {
    fill: red;
}

.aljFooterSelectedStyle .aljMyCarLogoStyle path,
.aljFooterSelectedStyle .aljMyCarLogoStyle circle {
    stroke: red;
}

.aljFooterSelectedStyle .sapMText {
    color: red;
}

.aljFooterBarDesktopStyle {
    background-color: #6D7278;
    opacity: 1;
    justify-content: center;
}

.aljFooterBarDesktopStyle .sapUiRespGrid.sapUiRespGridHSpace2 {
    max-width: 70rem;
    width: 100%;
    margin: 2rem 0;
}

.aljFooterFontStyle {
    font-size: 18px;
    color: #ffffff;
}


/********Footer Styles - End*********/